---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

let res = await fetch("https://wp.boekenwuurm.nl/wp-json/wp/v2/posts");
let posts = await res.json();

let catRes = await fetch("https://wp.boekenwuurm.nl/wp-json/wp/v2/categories");
let categories = await catRes.json();

// Create a lookup map: category ID → category object
let categoryMap = {};
for (const cat of categories) {
  categoryMap[cat.id] = cat;
}

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				    {
					posts.map((post) => (
						<article>
						<h2>
							<a href={`/${post.slug}/`} set:html={post.title.rendered} />
						</h2>
						<div class="categories">
    {
      post.categories.map(catId => {
        const cat = categoryMap[catId];
        return cat && (
          <span class="category-tag">{cat.name}</span>
        );
      })
    }
  </div>
						<div set:html={post.excerpt.rendered}></div>
						</article>
					))
					}
			</section>
		</main>
		<Footer />
	</body>
</html>
